
<div id="filterPanel" ng-click="show.showFilters = !show.showFilters"> Filters </div>
<div ng-show="show.showFilters">
    <p>Search by project name</p>
    <input ng-model="searchpname">
    <p>You can select dates, between which you want to get data</p>
    From: <input ng-model="start" type="date">
    To: <input ng-model="end" type="date">
    <button ng-click="applyDates()">Apply</button>
    <button ng-click="update()">Reset</button>
</div>
<table  class="activityOutput" ng-init="update()">
    <tr>
        <td ng-click="reorder('proj.name')" style="background-color:#FCBB2D">Project name</td>
        <td ng-click="reorder('typeId')" style="background-color:#FCBB2D">Type</td>
        <td ng-click="reorder('date')" style="background-color:#FCBB2D" >Date</td>
        <td ng-click="reorder('hours')" style="background-color:#FCBB2D">Hours</td>
        <td ng-click="reorder('description')" style="background-color:#FCBB2D">Description</td>
        <td style="background-color:#FCBB2D"> Edit</td>
        <td style="background-color:#FCBB2D"> Delete</td>
    </tr>
    <tr dir-paginate="a in activities | orderBy:predicate:reverse |  filter:a.proj.name:searchpname | filter:{ proj:{name:searchpname}} | itemsPerPage:50">
        <td style="display:none">{{a.id}}</td>
        <td>{{a.proj.name }}</td>
        <td>{{a.typeId}}</td>
        <td>{{a.date}}</td>
        <td>{{a.hours}}</td>
        <td>{{a.description}}</td>
        <td ng-click="edit(a)"><img src="res/edit.gif"></td>
        <td ng-click="delete(a.id)"><img src="res/delete.gif"></td>
        
    </tr> 
</table>
<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="pagination.html"></dir-pagination-controls>
<div class="module-win">
    
    <table>
        <tr>
            <td> Project Id</td>
            <td><input ng-model="projid" type="text"></td>
        </tr>
        <tr>
            <td> Date</td>
            <td><input ng-model="date" type="date"></td>
        </tr>
        <tr>
            <td>Hours</td>
            <td><input ng-model="hours" type="text"></td>
        </tr>
        <tr>
            <td>Type N</td>
            <td><input ng-model="type" type="checkbox"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea ng-model="desc" ></textarea></td>
        </tr>
        <tr>
            <td>Note</td>
            <td><input ng-model="note"></td>
        </tr>
         <tr>
            <td>Place</td>
            <td><input ng-model="place"></td>
        </tr>
    </table>
    
    <button ng-click="save()">Save</button>
    <button ng-click="hide()">Close</button>
</div>
