<div ng-show="show.datachanged" ng-style="show.style">
     {{show.message}} </div>

<table ng-init="loadCompanies()">
    <tr>
        <td>Name</td>
        <td><input ng-model="name"></td>
    </tr>
    <tr>
        <td>Second Name</td>
        <td><input ng-model="sname"></td>
    </tr>
    <tr>
        <td>Fiscal Code</td>
        <td><input ng-model="fiscal"></td>
    </tr>
    <tr>
        <td>Company</td>
        <td>
            <select ng-model="com" id="com">
                <option  ng-repeat="c in companies" value="{{c.id}}">{{c.name}}</option>
            </select>
        </td>
    </tr>

    <tr>
        <td>Password</td>
        <td><input ng-model="pass" type="password"></td>
    </tr>
    <tr>
        <td>Confirm Password</td>
        <td><input ng-change="validatePass()" ng-model="cpass" type="password" ng-style="confirmationPassStyle"></td>
    </tr>

    <tr>
        <td>Login</td>
        <td><input ng-model="login"></td>
    </tr>
    <tr>

        <td colspan="2"><button ng-click="save()">Save</button></td>
    </tr>
</table>
