<div class="partial">

    Add Activity:<br>
    <table>
        <tr>
            <td> Project Id</td>
            <td><select  style="width:80%;" ng-model="projid"> 
                    <option ng-repeat="p in projects">{{p.id}} - {{p.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td> Date</td>
            <td><input ng-model="date" type="date"></td>
        </tr>
        <tr>
            <td>Hours</td>
            <td><input ng-model="hours" type="text"></td>
        </tr>
        <tr>
            <td>Type N</td>
            <td><input ng-model="type" type="checkbox"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea style="max-width: 100%;width: 100%;resize:vertical;" ng-model="desc" ></textarea></td>
        </tr>
        <tr>
            <td>Note</td>
            <td><input ng-model="note"></td>
        </tr>
        <tr>
            <td>Place</td>
            <td><input ng-model="place"></td>
        </tr>
    </table>
    <button ng-click="add()">Add activity</button>
</div>
