<div ng-model="activityWindow" ng-controller="ActivityController">
    <aside>
        <div onClick="navigate('fill')">
            Fill Timesheet
        </div>
        <div>
            <a>Watch My Data</a>
        </div>
        <div>
             <a>Managed Projects</a>
        </div>
        <div>
            <a>Personal Settings</a>
        </div>
    </aside>
    <script src="js/activity.js"></script>
    <div ng-model="activityFrame">
        
    </div>
    
    Userid <input ng-model="userid"> <button ng-click="update()" ng-enter="update()">update</button>
    <div ng-repeat="a in activities" style="background-color:#EEE;padding:5px;width:300px;border:1px solid black;margin:10px;'">
        <p>The ID is {{a.id}}</p>
        <p>The content is {{a.proj.name}}</p>
    </div>
    Add note:<br>
    <table>
        <tr>
            <td> Project Id</td>
            <td><input ng-model="projid" type="text"></td>
        </tr>
        <tr>
            <td> Date</td>
            <td><input ng-model="date" type="date"></td>
        </tr>
        <tr>
            <td>Hours</td>
            <td><input ng-model="hours" type="text"></td>
        </tr>

    </table>
    <button ng-click="add()">Add note</button>
</div>
