<div ng-show="show.show" ng-style="show.style">{{show.message}}</div>
<div class="btn1" ng-click="addActivity()">Add Activity</div><br>
Employee : 
<select  ng-init="initStaff()" ng-model="emplselect" ng-change="loadActivities()">
    <option ng-value="s.id" ng-repeat="s in staff">{{s.name+" "+s.sname}}</option>
</select><br>
<div id="filterPanel" ng-click="show.showFilters = !show.showFilters"> Filters </div>
<div ng-show="show.showFilters">
    <p>Search by project name</p>
    <input ng-model="searchpname">
    <p>You can select dates, between which you want to get data</p>
    {{msg['from']}}: <input ng-model="start" type="date">
    {{msg['to']}}: <input ng-model="end" type="date">
    <button ng-click="applyDates()">Apply</button>
    <button ng-click="resetDates()">Reset</button>
</div>
<table  class="activityOutput">
    <tr>
        <td ng-click="reorder('proj.name')" style="background-color:#FCBB2D">Project name</td>
        <td ng-click="reorder('typeId')" style="background-color:#FCBB2D">Type</td>
        <td ng-click="reorder('date')" style="background-color:#FCBB2D" >Date</td>
        <td ng-click="reorder('hours')" style="background-color:#FCBB2D">Hours</td>
        <td ng-click="reorder('description')" style="background-color:#FCBB2D">Description</td>
        <td style="background-color:#FCBB2D"> Uncommit</td>
        <td style="background-color:#FCBB2D"> Delete</td>
    </tr>
    <tr dir-paginate="a in activities | orderBy:predicate:reverse | filter:{ proj:{name:searchpname}} | itemsPerPage:50">
        <td style="display:none">{{a.id}}</td>
        <td>{{a.proj.name }}</td>
        <td>{{a.typeId}}</td>
        <td>{{a.date}}</td>
        <td>{{a.hours}}</td>
        <td>{{a.description}}</td>
        <td ng-click="uncommit(a.id)"><img src="res/upload.png"></td>
        <td ng-click="deleteActivity(a.id)"><img src="res/delete.gif"></td>
        
    </tr> 
</table>
<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="pagination.html"></dir-pagination-controls>

<div class="module-win" ng-show="show.moduleWin" data-ng-init="initProjects()">
    
    <table>
        <tr>
            <td> Project Id</td>
            <td>
                <select ng-model="activity.proj.id" ng-show="projects">
                    <option ng-repeat ="p in projects" ng-value="p.id">{{p.id +" - "+p.name}}</option>
                </select>
            </td>
        </tr>
        <tr>
            <td> Date</td>
            <td><input ng-model="activity.date" type="date"></td>
        </tr>
        <tr>
            <td>Hours</td>
            <td><input ng-model="activity.hours" type="text"></td>
        </tr>
        <tr>
            <td>Type N</td>
            <td><input ng-model="activity.typeId" type="checkbox"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea ng-model="activity.description" ></textarea></td>
        </tr>
        <tr>
            <td>Note</td>
            <td><input ng-model="activity.note"></td>
        </tr>
         <tr>
            <td>Place</td>
            <td><input ng-model="activity.place"></td>
        </tr>
    </table>
    <div class="btn1" ng-click="addActivity(true)">Save</div>
    <div class="btn1" ng-click="show.moduleWin=!show.moduleWin">Close</div>
</div>
<div class="fader" style="width:100%" ng-show="show.moduleWin" ng-click="show.moduleWin=!show.moduleWin">