<div class="btn1" ng-click="showEditCompanies(null)">Add company</div>
<table data-ng-init="initCompanies()" class="activityOutput">
    <tr>
        <td style="background-color:#FCBB2D">Id</td>
        <td style="background-color:#FCBB2D">Name</td>
        <td style="background-color:#FCBB2D">Fiscal</td>
        <td style="background-color:#FCBB2D">Edit</td>
    </tr>
    <tr>
        
    </tr>
    <tr ng-repeat="c in companies" >
        <td>{{c.id}}</td>
        <td>{{c.name}}</td>
        <td>{{c.fiscal}}</td>
        <td ng-click="showEditCompanies(c)">Edit</td>
    </tr>
</table>

<div class="module-win" ng-show="show.moduleWin">
    <div ng-show="show.show" ng-style="show.style">{{show.message}}</div>
    <table>
        <tr>
            <td> Name  </td>
            <td> <input ng-model="company.name"> </td>
        </tr>
        <tr>
            <td> Fiscal  </td>
            <td> <input ng-model="company.fiscal" > </td>
        </tr>
        <tr>
            <td><div class="btn1" ng-click="saveCompany()"> Save </div> </td>
            <td><div class="btn1" ng-click="deleteCompany()"> Delete </div> </td>
        </tr>
    </table>
    
</div>
<div class="fader" ng-show="show.moduleWin"  ng-click="show.moduleWin=!show.moduleWin">
