<div class="btn1" ng-click="showEditDivisions(null)">Add division</div>
<table data-ng-init="initDivisions()" class="activityOutput">
    <tr>
        <td style="background-color:#FCBB2D">Id</td>
        <td style="background-color:#FCBB2D">Name</td>
        <td style="background-color:#FCBB2D">Edit</td>
    </tr>
    <tr>
        
    </tr>
    <tr ng-repeat="d in divisions" >
        <td>{{d.id}}</td>
        <td>{{d.name}}</td>
        <td ng-click="showEditDivisions(d)"><img src="res/edit.gif"></td>
    </tr>
</table>

<div class="module-win" ng-show="show.moduleWin">
    <div ng-show="show.show" ng-style="show.style">{{show.message}}</div>
    <table>
        <tr>
            <td> Name  </td>
            <td> <input ng-model="division.name"> </td>
        </tr>
        <tr>
            <td><div class="btn1" ng-click="saveDivision()"> Save  </div></td>
            <td><div class="btn1" ng-click="deleteDivision()"> Delete  </div></td>
        </tr>
    </table>
    
</div>
<div class="fader" ng-show="show.moduleWin"  ng-click="show.moduleWin=!show.moduleWin">
