<div class="btn1" ng-click="setid(null,'staff')">Add Employee</div>
<table ng-init="initStaff()" class="activityOutput">
    <tr>
        <td style="background-color:#FCBB2D">Name</td>
        <td style="background-color:#FCBB2D">Company</td>
        <td style="background-color:#FCBB2D">Info</td>
        <td style="background-color:#FCBB2D">Report</td>
        <td style="background-color:#FCBB2D">Delete</td>
    </tr>
    <tr ng-repeat="s in staff">
        <td>{{s.name+ " "+s.sname}}</td>
        <td>{{s.company.name}}</td>
        <td><img src="res/edit.gif" ng-click="setid(s.id,'staff')"></td>
        <td><img src="res/edit.gif" ng-click="report(s.id)"></td>
         <td><img src="res/delete.gif" ng-click="del(s.id)"></td>
    </tr>
</table>