<div ng-show="show.show" ng-style="show.style">{{show.message}}</div>
<div class="btn1" ng-click="resetPassword()">Reset Password</div>
<table ng-init="staffInfo()">
    
    <tr>
        <td>Name</td>
        <td><input ng-model="staff.name"></td>
    </tr>
    <tr>
        <td>Second Name</td>
        <td><input ng-model="staff.sname"></td>
    </tr>
    <tr>
        <td>Company</td>
        <td>
            <select ng-model="company">
                <option ng-repeat="c in companies" value="{{c.id}}">{{c.name}}</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Fiscal</td>
        <td><input ng-model="staff.fiscal"></td>
    </tr>
    <tr>
        <td>Username</td>
        <td><input ng-model="staff.username"></td>
    </tr>
    <tr>
        <td>Rights</td>
        <td>
            <select ng-model="staff.scope">
                <option ng-value="ROLE_USER">ROLE_USER</option>
                <option ng-value="ROLE_ADM">ROLE_ADM</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2"><button ng-click="saveStaff()">{{msg["save"]}}</button></td>
    </tr>
</table>