<div ng-controller="UserController" id="logform">
    <p> Please, log in to Rapportino system to continue</p>
    <table>
        <tr>
            <td>Username: </td>
            <td><input ng-model="username"></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td> <input type="password" ng-model="pass"></td>
        </tr>
        <tr>
            <td colspan="2"><button ng-click="login()" ng-enter="login()">Submit</button></td>
        </tr>
    </table>
    
   
    
</div>