<!--<table>
    <tr>
        <td>Name</td>
        <td>{{activities[0].proj.name}}</td>
    </tr>
    <tr>
        <td>id</td>
        <td>{{activities[0].proj.id}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{activities[0].proj.name}}</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>{{activities[0].proj.name}}</td>
    </tr>
</table> -->
<div class="btn1" ng-click="closeProject()" ng-show="show.closeButton">Close project</div>
<table class="activityOutput" ng-init="info()">
    <tr>
        <td style="background-color:#FCBB2D"> Employee </td>
        <td style="background-color:#FCBB2D"> Payable Hours</td>
        <td style="background-color:#FCBB2D"> N Hours</td>
    </tr>
    <tr ng-repeat="p in activities">
        <td>{{p.value.name}}</td>
        <td>{{p.value.hours}}</td>
        <td>{{p.value.nhours}}</td>
    </tr>
</table>

